<!Doctype html>
<html>
<head>
<title>Input Types</title>
</head>
<body>
	<center><h1><font color="blue"> Input Types </font></h1></center>
	<form>
		<div>
			<div>Input Type='text' :</div>
			 <input type="text" placeholder="Enter text" required/>
		</div>
		<br>
		<div>
			<div>Input Type='password' : </div>
			<input type="password" placeholder="enter Password" required />
		</div>
		<br>
		<div>
			<div>Input Type='number' : </div>
			<input type="number" step="5" value="10" required/>
		</div>
		<br/>
		<div>
			<div>Text Area Tag : </div>
			<textarea required></textarea>
		</div>
		<br/>
		<div>
			<div>Input Type='email' : </div>
			<input type="email" placeholder="enter email" required/>
		</div>
		<br/>
		<div>
			<div>Input Type='search' : </div>
			<input type="search" placeholder="enter keyword" required/>
		</div>
		<br/>
		<div>
			<div>Input Type='url' : </div>
			<input type="url" placeholder="enter valid url" required/>
		</div>
		<br/>
		<div>
			<div>Input Type='color' : </div>
			<input type="color" required/>
		</div>
		<br/>
		<div>
			<div>Input Type='date' : </div>
			<input type="date"  required/>
		</div>
		<br/>
		<div>
			<div>Input Type='datetime-local' : </div>
			<input type="datetime-local"  required/>
		</div>
		<br/>
		<div>
			<div>Input Type='month' : </div>
			<input type="month"  required/>
		</div>
		<br/>
		<div>
			<div>Input Type='time' : </div>
			<input type="time"  required/>
		</div>
		<br/>
		<div>
			<div>Input Type='range' : </div>
			<input type="range"  value="10" required/>
		</div>
		<br/>
		<div>
			<div>Input Type='checkbox' : </div>
			<input type="checkbox"  required/> check box
		</div>
		<br/>
		<div>
			<div>Input Type='radio' : </div>
			<input type="radio" name="gender" required/><span> male </span>
			<input type="radio"  name="gender" required/><span> female </span>
		</div>
		<br/>
		<div>
			<select>
				<option>option1</option>
				<option>option2</option>
				<option>option3</option>
				<option>option4</option>
			</select>
		</div>
		<br/>

		<audio controls autoplay > 
		  <source src=http://techslides.com/demos/sample-videos/small.webm type=video/webm> 
		  <source src=http://techslides.com/demos/sample-videos/small.ogv type=video/ogg> 
		  <source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>
		  <source src=http://techslides.com/demos/sample-videos/small.3gp type=video/3gp>
		</audio>
		<video controls autoplay loop> 
		  <source src=http://techslides.com/demos/sample-videos/small.webm type=video/webm> 
		  <source src=http://techslides.com/demos/sample-videos/small.ogv type=video/ogg> 
		  <source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>
		  <source src=http://techslides.com/demos/sample-videos/small.3gp type=video/3gp>
		</video>
	<br/>
       <input type="button" value="Sign In">
		<button>Sign In</button>
		<input type="submit" value="Submit">
	</form>
</body>
</html>