<!DOCTYPE html>
<html> 
<head>
	<title>UI Training</title>
</head>
<body>
	<p>This is my paragraph  </p>
	<h1>header tag1</h1>
	<h2>header tag2</h2>
	<h3>header tag2</h3>
	<h4>header tag2</h4>
	<h5>header tag2</h5>
	<h6>header tag2</h6>
	<i>this is my i tag</i>
	<p> this my second para graph</p>
	<p> this my third para graph</p>
	<span>this is my span tag1</span>
	<span>this is my span tag2</span>
	<br/>
	<span>this is my span tag3</span>
	<u>this is my undeline</u>
	<b>this is my bold tag</b>
	<hr/>
	<a href="https://www.google.co.in/?gfe_rd=cr&ei=5FH-VOfFCafV8gftx4CoDg" target="_blank">Google</a>
	<br/>
	<a href="https://www.google.co.in/?gfe_rd=cr&ei=5FH-VOfFCafV8gftx4CoDg" target="_blank">
		<img src="../images/googlelogo.png" height="200" width="200" title="this is google logo">
		<p>this is img desc</p>
	</a>
	<center><div><p>this paragraph inside div tag</p></div></center>
	<p align="right">this is my right side paragraph</p>
</body>
</html>
