<!DOCTYPE html>
<html>
<head>
<title>CSS</title>
<style type="text/css">
	.div1{
		border: 2px solid red;
	}
	.div1a{
		border:2px solid blue;
		height:100px;
	}
	.div1b{
		border : 2px dotted green;
	    position: absolute;
	    top: 20px;
	    left: 20px;
		height:100px;
	}
	.div1c{
		border:2px solid yellow;
		height:100px;
	}
	.myaddress{
		position: absolute;
		position: absolute;
  		top: 109%;
  		left: 14%;
  		color: #fff;
	}
</style>
</head>
<body>
	<h1>CSS Positions</h1>
	<div class="div1">
		my div1
		<div class="div1a"> div 1a</div>
		<div class="div1b"> Div 1b</div>
		<div class="div1c"> Div 1c</div>
	</div>
	<div class="myimage">
		<img src="../images/googlelogo.png">
	</div>
	<div class="myaddress">
		<address>
			Name: Bujjibabu<br/>
			Area: Hyderabad <br/>
			Phone: 9533068603.
		</address>
	</div>
</body>
</html>