<!doctype html>
<html>
<head>
<title>CSS</title>
<style type="text/css">
	/* Grouping */
	.mydiv1,#mydiv2{
		color:red;
		font-size:20px;
		text-align: center;
		  border-top: 2px solid red;
		  border-bottom: 2px dotted green;
		  border-right: 2px dashed blue;
	}
	.mydiv3 .mydiv5{
		font-size:20px;
		text-align: center;
		text-decoration: overline;
	}
	.mydiv7{
		display: none;
	}
	.mydiv10{
		visibility: hidden;
	}
</style>

</head>
<body id="myprogbody">
<div>
	<div class="mydiv1">CSS</div>
	<br/>
	<div id="mydiv2">CSS Grouping</div>
	<div class="mydiv3">
		<div class="mydiv4">This is my inside div1 </div>
		<div class="mydiv5">This is my inside div2</div>
	</div>
	<div class="mydiv6">
		this is my div6
	</div>
	<div class="mydiv7">
		this is my div7 this is my div7this is my div7this is my div7this is my div7this is my div7this is my div7this is my div7this is my div7this is my div7
	</div>
	<div class="mydiv8">
		this is my div8
	</div>
<br/>
	<div class="mydiv9">
		this is my div6
	</div>
	<div class="mydiv10">
		this is my div7 this is my div7this is my div7this is my div7this is my div7this is my div7this is my div7this is my div7this is my div7this is my div7
	</div>
	<div class="mydiv11">
		this is my div8
	</div>
</div>
</body>
