<!Doctype html>
<html>
<head>
<title>Tables</title>
</head>
<body>
	<marquee>UI Training</marquee>
	<center><h1><font color="green">HTML Tables</font></h1></center>
	<h4>tables</h4>
	<table width="100%" border="1">
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
			<td>td5</td>
			<td>td6</td>
		</tr>
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
			<td>td5</td>
			<td>td6</td>
		</tr>
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
			<td>td5</td>
			<td>td6</td>
		</tr>
	</table>

	<h4>tables2</h4>
	<table width="100%" border="1" cellpadding="5" cellspacing="10">
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
			<td>td5</td>
			<td>td6</td>
		</tr>
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
			<td>td5</td>
			<td>td6</td>
		</tr>
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
			<td>td5</td>
			<td>td6</td>
		</tr>
	</table>
	<h4>tables3</h4>
	<table width="100%" border="1" cellpadding="5" cellspacing="0">
		<thead>
			<tr>
				<th>head1</th>
				<th>head2</th>
				<th>head3</th>
				<th>head4</th>
				<th>head5</th>
				<th>head6</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>td1</td>
				<td>td2</td>
				<td>td3</td>
				<td>td4</td>
				<td>td5</td>
				<td>td6</td>
			</tr>
			<tr>
				<td>td1</td>
				<td>td2</td>
				<td>td3</td>
				<td>td4</td>
				<td>td5</td>
				<td>td6</td>
			</tr>
		</tbody>	
	</table>
	<h4>tables4</h4>
	<table width="100%" border="1" cellpadding="5" cellspacing="0">
		<thead>
			<tr>
				<!-- <th>head1</th>
				<th>head2</th> -->
				<th colspan="2">heading</th>
				<th>head3</th>
				<th>head4</th>
				<th>head5</th>
				<th>head6</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<!-- <td>td1</td> -->
				<td rowspan="3">myCustom td</td>
				<td>td2</td>
				<td>td3</td>
				<td>td4</td>
				<td>td5</td>
				<td>td6</td>
			</tr>
			<tr>
				<!-- <td>td11</td> -->
				<td>td12</td>
				<td>td13</td>
				<td>td14</td>
				<td>td15</td>
				<td>td16</td>
			</tr>
			<tr>
				<!-- <td>td10</td> -->
				<td>td20</td>
				<td>td30</td>
				<td>td40</td>
				<td>td50</td>
				<td>td60</td>
			</tr>
			<tr>
				<td>td100</td>
				<td>td200</td>
				<td>td300</td>
				<td>td400</td>
				<td>td500</td>
				<td>td600</td>
			</tr>
			<tr>
				<td>td1000</td>
				<td>td2000</td>
				<td>td3000</td>
				<td>td4000</td>
				<td>td500</td>
				<td>td600</td>
			</tr>
		</tbody>
		
	</table>
</body>
</html>