<!doctype html>
<html>
<head>
<title>UI Training</title>
</head>
<body>
<center><h1><font color="red">HTML Tags</font></h1></center>
<p><s>this is small text</s></p>
<p><del>this is small text</del></p>
<p><b>this is bold text</b></p>
<p><strong>this is bold text</strong></p>
<p><u>this is underline tag </u></p>
<p><ins>this is underline tag </ins></p>
<xmp><p>this is paragraph</p></xmp>
<small>this is samll tag</small>
<br>
<p>this is <q>bujji</q> from hyderabad</p>
<p>this bujjibabu <sub>b.tech</sub></p>
<p>this is 4<sup>th</sup> Batch</p>
<hr/>
<progress value="80" max="100"><progress>
</body>
</html>