<!DOCTYPE html>
<html>
<head>
<title>CSS</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
    <br/>
    <div class="container">
    	<h4 class="text-center">Form</h4>
    	<form class="col-sm-offset-4 col-sm-4">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  <button type="submit" class="btn btn-default" onclick="fnSubmitData()">Submit</button>
		</form>
    </div>
    <script type="text/javascript">
    		var a =10;
    		var A =20;
    		//alert(A);
    	function fnSubmitData(){
    		var username = document.getElementById('exampleInputEmail1').value;
    		var password = document.getElementById('exampleInputPassword1').value;
    		/*alert('email : '+ username);
    		alert('password : '+ password);*/

    	}
    </script>
</body>
</html>